@import '../base/colores';
@import '../base/general';

.header-content {
    background-color: $header-background-color;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        margin: 0;
        color: $text-color-light;
        font-size: 2rem;
    }

    nav {
        ul {
            list-style: none;
            display: flex;
            gap: 1rem;

            li {
                a {
                    text-decoration: none;
                    color: $text-color-light;
                    padding: 0.5rem 1rem;
                    border-radius: 5px;
                    transition: background-color 0.3s ease;

                    &:hover,
                    &.active {
                        background-color: $link-hover-color;
                    }
                }
            }
        }
    }
}

