.news-item, .card {
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;


    .card-body {
        padding: 1rem;

        .card-title {
            font-size: 1.25rem;
            margin-bottom: 0.75rem;
        }

        .card-text {
            font-size: 1rem;
            line-height: 1.5;
        }

        .btn-link {
            color: #007bff;
            &:hover {
                color: #0056b3;
                text-decoration: underline;
            }
        }
    }
    .item-body {
        padding: 1rem;

        .item-title {
            font-size: 1.25rem;
            margin-bottom: 0.75rem;
        }

        .item-text {
            font-size: 1rem;
            line-height: 1.5;
        }

        .btn-link {
            color: #007bff;
            &:hover {
                color: #0056b3;
                text-decoration: underline;
            }
        }
    }
}