@import 'navbar-footer';

@import 'colores';

footer {
    background-color: $footer-background-color;
    padding: 1rem 2rem;
    text-align: center;

    .footer-content {
        display: flex;
        justify-content: space-around;
        align-items: center;

        nav {
            ul {
                list-style: none;
                display: flex;
                gap: 1rem;

                li {
                    a {
                        text-decoration: none;
                        color: $text-color-light;
                        transition: color 0.3s ease;

                        &:hover {
                            color: $link-hover-color;
                        }
                    }
                }
            }
        }
    }
}

// Responsive adjustments
@media (max-width: $breakpoint-md) {
    footer .footer-content {
        flex-direction: column;

        nav ul {
            flex-direction: column;
        }
    }
}
